@page
@model WebApp.Pages.Families.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Family</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family.FamilyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family.FamilyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family.FamilyDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family.FamilyDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family.FamilyDateFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family.FamilyDateFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family.FamilyDateTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family.FamilyDateTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family.Person.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Family.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
