@page
@model WebApp.Pages.Families.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Family[0].FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family[0].FamilyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family[0].FamilyDateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family[0].FamilyDateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family[0].Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Family) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyDateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyDateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
