@page
@model WebApp.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PlaceOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PlaceOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Occupation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Occupation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.BirthSurname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.BirthSurname)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
