@model IEnumerable<Domain.Relationship>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RelationshipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelationShipDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelationshipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RelationshipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationShipDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonOne.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonTwo.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleOne.RelationshipRoleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleTwo.RelationshipRoleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationshipType.RelationshipTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
